[submodule "Naped_DC_PV_SC/src/SYSTEM_CTR"]
	path = Naped_DC_PV_SC/src/SYSTEM_CTR
	url = https://github.com/Damianoo00/SYSTEM_CTR.git
	branch = main
[submodule "Naped_DC_PV_SC/src/DC_SPEED_CTR"]
	path = Naped_DC_PV_SC/src/DC_SPEED_CTR
	url = https://github.com/Damianoo00/DC_SPEED_CTR.git
	branch = main
[submodule "Naped_DC_PV_SC/src/DC_CURR_CTR"]
	path = Naped_DC_PV_SC/src/DC_CURR_CTR
	url = https://github.com/Damianoo00/DC_CURR_CTR.git
	branch = main
[submodule "Naped_DC_PV_SC/src/PV_CTR"]
	path = Naped_DC_PV_SC/src/PV_CTR
	url = https://github.com/Damianoo00/PV_CTR.git
	branch = main
[submodule "Naped_DC_PV_SC/src/SC_CTR"]
	path = Naped_DC_PV_SC/src/SC_CTR
	url = https://github.com/Damianoo00/SC_CTR.git
	branch = main
